<footer>
<div class="footer-info">
        <h1>Contact us:</h1>
        <div class="cta">
          <div class="contact-info">
            <div>
              <ion-icon name="call-outline"></ion-icon>
              <p>061987643</p>
            </div>
            <div>
              <ion-icon name="mail-outline"></ion-icon>
              <p>jador@gmail.com</p>
            </div>
            <div>
              <ion-icon name="time-outline"></ion-icon>
              <p>Open Monday to Friday (08-18)h</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form action="">
          <div>
            <label for="newsletter">Subscribe to our newsletter</label>
            <input type="email" name="newsletter" placeholder="Enter email" />
          </div>
          <label for="subscribe"></label>
          <input name="subscribe" type="submit" value="subscribe" />
        </form>
      </div>
      <div class="credits">
        <p>Website developed by:</p>
        <a href="#" target="_blank" rel="noopener">Uroš (Front-end)</a>
        <a href="#" target="_blank" rel="noopener">Aleksa (Back-end)</a>
      </div>
    </footer>

    <!-- ion-icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>