<header>
  <nav>
    <div class='upper-nav'>
      <div class='logo'>
        <a href='/'>
          <h1>Jadore</h1>
          <p>Perfumes and Accessories</p>
        </a>
      </div>

      <div class='browse-holder'>
        <form action=''>
          <label for='browse'></label>
          <input
            type='text'
            name='browse'
            placeholder='Search'
            class='search-bar'
          />
          <label for='submit'></label>
          <input
            type='submit'
            name='submit'
            value=''
            class='submit'
            id='search-submit'
          />
        </form>
        <ion-icon name='search-sharp' class='magnifier'></ion-icon>
        <div class='preview-container'>
          {{! <img src='images/perfumes/image-9.jpg' alt='' class='preview-image' />
          <p class='preview-name'>test</p> }}
        </div>
      </div>

      <div class='log-in'>
        <form action='/user/logout' method='post'>
          <button class='sign-out default-none' type='submit'>Sign Out</button>
        </form>
        <button class='sign-in'>Sign in</button>
        <div></div>
        <button class='sign-up'>Register Account</button>
        <button class='profile-el default-none'>Profile</button>
      </div>

      <div class='nav-cart'>
        <ion-icon
          name='menu-outline'
          class='open-menu'
          onclick='oMenu()'
        ></ion-icon>
        <select name='language' id=''>
          <option value='UA'>UA</option>
          <option value='RU'>RU</option>
        </select>
        <ion-icon name='cart-outline'></ion-icon>
      </div>
    </div>
    <!-- bottom nav -->
    <div class='bottom-nav'>
      <a href='/store'>full size vials</a>
      <a href='/'>Decanting</a>
      <a href='#'>Makeup</a>
      <a href='#'>Victoria's Secret</a>
      <a href='#'>Catalogue</a>
      <a href='#'>About us</a>
      <a href='#'>Payment</a>
      <a href='#'>News</a>
      <a href='/contact'>Contacts</a>
    </div>

  </nav>

  <!-- slider-menu width < 800px  -->
  <div class='slider-menu'>
    <div style='border-bottom: 1px solid white'>
      <div>
        <p>Menu</p>
      </div>
      <ion-icon
        name='close-outline'
        class='close-menu'
        onclick='cMenu()'
      ></ion-icon>
    </div>
    <a href='/store'>full size vials</a>
    <a href='#'>Decanting</a>
    <a href='#'>Makeup</a>
    <a href='#'>Victoria's Secret</a>
    <a href='#'>Catalogue</a>
    <a href='#'>About us</a>
    <a href='#'>Payment and Delivery</a>
    <a href='#'>News and Promotions</a>
    <a href='/contact'>Contacts</a>
  </div>
</header>

{{! register account }}
<div class='register-curtain'>
  <div class='sign-modal' id='register'>
    <h2>Register</h2>
    <form action='/user/register' method='post'>
      <label for='name'>Name</label>
      <input type='text' name='name' required />
      <label for='email'>Email</label>
      <input type='email' name='email' required />
      <label for='password'>Password</label>
      <input type='password' name='password' required />
      <label for='repeat'>Repeat-password</label>
      <input type='password' name='repeat' required />
      <input type='submit' value='Sign-up' />
    </form>
  </div>
  {{! SIGN IN }}
  <div class='sign-modal' id='log-in'>
    <h2>Sign in</h2>
    <a href='/google/redirect' class='google-sign'>
      <img
        src='/images/logos/google.png'
        alt='google icon'
        class='google-icon'
      />
      Sign in with Google
    </a>
    <form action='/user/login' method='post'>
      <label for='email'>Email</label>
      <input type='email' name='email' required />
      <label for='password'>Password</label>
      <input type='password' name='password' required />
      <input type='submit' value='Sign-in' />
    </form>
    <button class='pass-reset'>Forgot Password</button>
  </div>
  {{! RESET PASSWORD }}
  <div class='sign-modal' id='reset-password'>
    <h2>Reset password</h2>
    <form action='/user/sendActivationMail' method='post'>
      <label for='email'>Email</label>
      <input type='email' name='email' required />
      <input type='submit' value='Send request' />
      <button class='return-login'>Back to login</button>
    </form>
  </div>
</div>
{{! end of code }}