<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}

  <main>
    <div class="cart">
      <div class="product">
        <img src="/images/perfumes/image-1.jpg" alt="product">
        <p class="product-name">Armani perfume</p>
        <div class="product-js--scale">
          <button class="decrement-product">-</button>
          <span class="product-qnt">1</span>
          <button class="increment-product">+</button>
        </div>
            <p class="product-price">100$</p>
      </div>
  
    </div>
    <div class="right-side">
    <div class="overview">
      <p>Order overview:</p>
      <p>
        Total Price:
      <span class="total-price">100$</span>
      </p>
      <a href="#">Order</a>
    </div>
    <div class="shipping-information">
      <p>Shipping-information</p>
      <form action="">
        <label for="name">Full Name</label>
        <input name="name" type="text">
        <label for="email">Email</label>
        <input name="email"  type="email">
        <label  for="phone">Phone Number</label>
        <input name="phone" type="tel">
        <label for="address">Address</label>
        <input name="address" type="text">
        <label for="city">City</label>
        <input name="city" type="text">
        <label for="zip">Zip Code</label>
        <input name="zip" type="number">
      </form>
    </div>
    </div>
  </main>



  {{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
   
  </body>