<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/catalogue.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}

  <main>
    <h1>About Jadore</h1>

    <article>
      <div>
        <div>
          <a href="/store">
        <img src="/images/perfumes/perfume-icon-1.png" alt="a perfume icon">
        <p>Full-size vials</p>
        </a>
      </div>
      <div>
        <a href="/store">
        <img src="/images/perfumes/perfume-icon-5.png" alt="a vial icon">
        <p>Decanting</p>
        </a>
      </div>
      </div>

      <div>
      <div>
        <a href="/store">
      <img src="/images/perfumes/perfume-icon-6.png" alt="a makeup icon">
       <p>Makeup</p>
       </a>
      </div>
      <div>
        <a href="/store">
      <img src="/images/perfumes/perfume-icon-7.png" alt="a flame icon">
      <p>Victoria's Secret</p>
      </a>
      </div>
      </div>
    </article>

    <div class="delivery-info">
      <div>
        <img src="/images/perfumes/perfume-icon-2.png" alt="a wallet icon">
        <p>We work without minimum order amount</p>
      </div>
      <div>
        <img src="/images/perfumes/perfume-icon-1.png" alt="a perfume icon">
        <p>the cost of the container is included in the price</p>
      </div>
      <div>
         <img src="/images/perfumes/perfume-icon-3.png" alt="a ribbon icon">
          <p>Only original perfumes</p>
      </div>
      <div>
         <img src="/images/perfumes/perfume-icon-4.png" alt="a delivery truck icon">
        <p>Prompt delivery</p>
      </div>
    </div>
  </main>



  {{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
   
  </body>