<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css">
     <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}
 
    <main data-token="{{token}}">
           {{#if token}}
  <script>
    console.log('success');
  </script>
{{/if}}
      <section class="section-one">
        <div
          id="carouselExampleControlsFirst"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-cta">
                <h2>Original perfumes</h2>
                <a href="#">Choose</a>
              </div>

              <div class="img-div"></div>
            </div>

            <div class="carousel-item">
              <div class="carousel-cta">
                <h2>Original perfumes</h2>
                <a href="#">Choose</a>
              </div>

              <div class="img-div-second"></div>
            </div>

            <div class="carousel-item">
              <div class="carousel-cta">
                <h2>Original perfumes</h2>
                <a href="#">Choose</a>
              </div>

              <div class="img-div-third"></div>
            </div>
          </div>
          <button
            class="carousel-control-prev-first"
            type="button"
            data-bs-target="#carouselExampleControlsFirst"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next-first"
            type="button"
            data-bs-target="#carouselExampleControlsFirst"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <!-- GRID -->

      <section class="grid">
        <div class="grid-inner">
          <img src="/images/perfumes/image-13.jpg" alt="grid-image" />
          <div class="grid-info">
            <a href="#">Decant</a>
          </div>
        </div>
        <div class="grid-inner">
          <img src="/images/perfumes/image-14.jpg" alt="grid-image" />
          <div class="grid-info">
            <a href="#">Make-up</a>
          </div>
        </div>
        <div class="grid-inner">
          <img src="/images/perfumes/image-15.jpg" alt="grid-image" />
          <div class="grid-info">
            <a href="#">Victoria's Secret</a>
          </div>
        </div>
      </section>

      <!-- best sellers -->
      <section class="best-seller--section">
        <div
          id="carouselExampleControls"
          class="carousel"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner best-seller--inner">
            <div class="carousel-item best-seller--item active">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-1.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-2.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-3.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-4.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-5.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-6.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-7.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-8.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                 <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-item best-seller--item">
              <div class="card">
                <div class="img-wrapper">
                  <img
                    src="/images/perfumes/image-9.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <select name="" id="">
                    <option value="1">1</option>
                  </select>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev best-seller--prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next best-seller--next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- x -->
      </section>
    </main>

 
    {{> footer}}
    <!-- my-script -->
    <script src="/scripts/script.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/register.js"></script>
    <!-- b5 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>



