<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
  <form action="/user/changeMyPassword/{{id}}" method="post">
    <label for="new-pass">New Password</label>
    <input type="password" name="password" class="new-pass" id="new-pass">
    <label for="repeat-pass">Repeat new password</label>
    <input type="password" name="repeat-pass" class="repeat-new--pass" id="repeat-new--pass">
    <input type="submit" value="submit new password" class="sub-new--pass" id="sub-new--pass">
  </form>
</body>
</html>