main {
  width: 100%;
  max-width: 130rem;
  margin: 5rem auto;
}
.h1-contacts {
  text-align: center;
  
}
.cta {
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.3rem;
}
.form-container form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-container form div div input, .form-container form div div textarea {
   padding: 1rem; 
   padding-right: 5rem;
  font-size: 1.7rem;
}
.form-container input[type="submit"] {
  font-size: 1.7rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
}