/* HEADER */

nav {
  width: 100%;
  /* background-color: #ab8e66; */
  background: linear-gradient(to bottom, #e9ecef 60%, #d4b28c 40%);
  /* background-color: #adb5bd; */
  color: #000;
  padding: 0rem 2rem;
}
.upper-nav {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0rem 0rem 2rem 0rem;

  font-weight: 600 !important;
}
.logo {
  margin-top: 1rem;
}

.upper-nav form {
  position: relative;
  display: flex;
}
.upper-nav form input[type='submit'] {
  width: 6rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.browse-holder {
  position: relative;
  margin-top: 1rem;
}

.magnifier {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #000;
}

.upper-nav form input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
}
.upper-nav form input::placeholder {
  color: #000;
}

.log-in {
  /* margin-top: 1rem; */
  display: flex;
  gap: 1rem;
}
.log-in a,
.log-in button {
  color: #000;
  font-size: 1.5rem;

  font-weight: 600 !important;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.log-in div {
  border-right: 1px solid white;
}
.nav-cart {
  justify-self: end;
  color: #000;

  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600 !important;
  cursor: pointer;
}
select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}

.bottom-nav {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  text-align: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600 !important;
  padding: 1rem 0rem;
}
.bottom-nav a {
  padding: 0.5rem 0rem;
  color: #000;
  font-size: 1.6rem;
  transition: all 0.2s;
  border-radius: 5px;
}
.bottom-nav a:hover {
  background-color: white;
  color: #000;
}

/* slider-menu */
.slider-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25rem;

  background: linear-gradient(to bottom, #91171f, #ffd8a8);
  transform: translate(-27rem);

  transition: all 0.5s;

  z-index: 100;
}
.slider-menu a {
  color: #000;
  font-size: 1.7rem;
  padding: 0rem 1rem;
  font-weight: 600;
  border-bottom: 1px solid #ffd8a8;
}
.slider-menu ion-icon {
  color: #000;
  font-size: 3.4rem;
  cursor: pointer;
}
.open-menu {
  display: none;
}

.slider-menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #000;

  padding: 1rem 0.5rem;
}
.slider-menu div p {
  font-size: 1.7rem;
  margin-bottom: 0rem;
  font-weight: 600;
}
.slider-menu div ion-icon {
  color: #000;
}

/* register  */
.register-curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 99;

  transform: translateX(100%);

  transition: all 1s;
}

.sign-modal {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  background-color: white;
  /* padding: 1rem 5rem; */

  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 101;

  display: flex;
  flex-direction: column;
}
#register {
  display: none;
}

.sign-modal h2 {
  text-align: center;
  background-color: #d4b28c;
  padding: 1rem;
  font-weight: 600;
}

.sign-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 5rem;
}
.sign-modal form label {
  font-size: 1.5rem;
}
.sign-modal form input {
  padding: 1rem;

  outline: none;
  border: 1px solid black;

  font-size: 1.5rem;
}
.sign-modal form input[type='submit'] {
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  background-color: #d4b28c;

  font-weight: 600;
}
/* google-sign */
.google-sign {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;

  padding: 1rem;

  font-size: 1.6rem;
  border: none;
  background-color: #f8f8f8;
}

/* default modal settings */
.sign-out,
.profile-el {
  display: none;
}
.pass-reset,
.return-login {
  text-align: center !important;
  padding: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
#reset-password {
  display: none;
}

/* preview-product */
.preview-container {
  position: absolute;

  width: 100%;

  background-color: #fff;
  z-index: 9999;
}
.preview-anchor {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
}
.preview-anchor:last-child {
  border: 1px solid black;
}

.preview-image {
  width: 100%;
  height: 5rem;
}
.preview-name {
  margin: 0rem !important;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000;
  margin-left: 1rem !important;
}
