main {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.product-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.product-container img {
  width: 100%;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

/* form */
.p-info--three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.product-container form label {
  position: relative;
  color: black;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0.3rem;
  /* display: flex; */
  /* align-items: center; */
}

input[type='radio'] {
  display: none;
}
input[type='radio']:checked + label {
  background-color: #d4b28c;
  border-color: #af5d00;
  color: white;
}
input[type='radio']:checked + label:before {
  height: 16px;
  width: 16px;
  border: 10px solid #d4b28c;
  background-color: #d4b28c;
}

/* p-info--one */
.p-info--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-info--one p {
  color: green;
}

/* p-4 */
.p-info--four {
  margin-top: 2rem;
}

.p-info--four--price {
  font-size: 2rem;
}
.p-info--four--buy {
  font-size: 2rem !important;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

/* description */
.description {
  padding: 2rem;
}

.description ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-left: 0rem;
}
.description ul li {
  font-size: 1.6rem;
}
/* reviews */
.reviews {
  padding: 2rem;
}
.review-count {
  display: flex;
  gap: 1rem;
}
.review-count p {
  font-size: 1.6rem;
}

.review-comment {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 0rem;
}
.review-comment a {
  padding: 1rem 3rem;
  border: 1px solid black;
  font-size: 1.6rem;
}
/* comment submission */
.comment-submission--container {
  padding: 2rem;
  width: 100%;
  max-width: 32rem;
}
.comment-submission--container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-form input[type='text'],
.comment-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
}
.comment-form input[type='submit'] {
  width: 100%;
  max-width: 16rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.comment-form--rating {
  display: flex;
  gap: 1rem;
}
.comment-form--rating label {
  font-size: 1.6rem;
}

.comment-form--rating input[type='radio'] {
  display: block;
}
.unique-review--comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
