main {
  width: 100%;
  max-width: 130rem;
  margin: 5rem auto;

  display: grid;
  grid-template-columns: 32rem 1fr;

  gap: 5rem;
}

.store-title {
  width: 100%;
  max-width: 130rem;
  margin: 5rem auto;
  border-bottom: 1px solid black;
}

/* store-options */
.store-options {
  /* border: 1px solid lightblue; */
}

.store-options button {
  width: 100%;
  max-width: 30rem;
  margin-top: 1rem;
  /* margin-left: 4.5rem; */
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.grid-style {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.store-options form div {
  font-size: 1.5rem;

  margin-top: 1rem;
  /* text-align: center; */

  /* display: flex; */
  /* gap: 0.5rem; */
}

/* brends */
.categories {
  border: 0.5px solid black;
  padding: 1rem;
}

/* price-range */
.price-range {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  border: 1px solid black;
}
.price-range form {
  margin-top: 1rem;
  align-self: center;
}
.price-range form input {
  width: 25rem;
}

.brends,
.aroma,
.quantity {
  border-bottom: none;
}

/* store-products */
.store-products {
  /* border: 1px solid pink; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.store-product img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.store-product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.store-product p {
  text-align: center;
  padding: 0.5rem;
}

.store-product select {
  border: 1px solid gray;
  font-size: 1.5rem;
}
.store-product select option {
  text-align: center;
}

.product-order {
  /* align-self: center; */
  text-align: center;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  width: 224.5px;
  max-width: 224.5px;
}
.store-product p {
  font-size: 1.4rem;
}

/* range-styling */
/* Style for the slider track */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; /* Set the width to fill the container */
  height: 4px; /* Set the height to make it a thin line */
  background: #d3d3d3; /* Gray background for the track */
  outline: none;
  border-radius: 2px; /* Rounded corners */
}

/* Style for the slider thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px; /* Width of the thumb */
  height: 12px; /* Height of the thumb */
  background: #007bff; /* Blue color for the thumb */
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
}

/* Style for the range value */
.range-value {
  display: inline-block;
  margin-left: 10px;
}
.price-range form {
  display: flex;
  align-items: center;
}
