


/* MAIN */
main {
  width: 100%;

}

/* carousel */
.section-one {
  width: 100%;
  max-width: 130rem;

  margin: 2.5rem auto;

  border-radius: 2px;
}
/* .carousel-inner {
  width: inherit;
} */
/* .carousel-inner img {
  width: 100%;
  height: 45rem;
  object-fit: 100% 100%;
} */
/* test  */
.img-div, .img-div-second, .img-div-third {
  background-image: url('/images/perfumes/image-11.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40rem;
}
.img-div-second {
  background-image: url('/images/perfumes/image-6.jpg');
}
.img-div-third {
  background-image: url('/images/perfumes/image-9.jpg');
}


.carousel-cta {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fff !important;
}

.carousel-cta h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.carousel-cta a {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.carousel-control-prev-first,
.carousel-control-next-first {
  position: absolute;
  top: 75%;
  border: none;
  background-color: transparent;
  padding: 4rem;
}
.carousel-control-prev-first {
  right: 15%;
}
.carousel-control-next-first {
  right: 5%;
}

/* grid */
.grid {
  width: 100%;
  max-width: 130rem;

  margin: 3rem auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.grid div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-inner {
  position: relative;
}

.grid-info {
  position: absolute;
  bottom: 5%;
  left: 3%;
}
.grid-info p,
.grid-info a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

/* best seller */
.best-seller--section {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;

  /* overflow-x: hidden; */
}
.best-seller--inner {
  /* padding: 1em; */
}
.card {
  margin: 0 0.5em;
  border: none;
}

.best-seller--prev,
.best-seller--next {
  width: 6vh;
  height: 3.1rem;
  top: 40%;

  background-color: black !important;

  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .img-wrapper img {
  max-height: 100%;
  object-fit: cover;
}


