@media (max-width: 900px) {
  nav {
    background: linear-gradient(to bottom, #e9ecef 60%, #e9ecef 40%);
  }

  .upper-nav {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-cart {
    grid-column-start: 3;
  }
}

@media (max-width: 800px) {
  .credits {
    justify-self: start;
  }

  .grid div img {
    display: none;
  }
  .grid-inner {
    position: static;
  }

  .grid-info {
    position: static;
    border: 1px solid black;
    padding: 1rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .upper-nav {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .nav-cart {
    grid-column-start: 2;
  }
}
@media (max-width: 500px) {
  .upper-nav {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .nav-cart {
    grid-column-start: 1;
    justify-self: start;
  }

  .carousel-cta h2,
  .carousel-cta a {
    font-size: 1.5rem;
  }
}

/*  */
@media (min-width: 768px) {
  .best-seller--inner {
    display: flex;
  }
  .best-seller--inner .carousel-item {
    margin-right: 0;
    flex: 0 0 20%;
    display: block;
  }
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
