/*
COLORS:
background-colors: #7c1d1d #002242
font-colors: #fff

FONT-SIZE:
span: 3rem
a: 2.4rem
ion-icon: 4rem


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
}

.disabled {
  display: none;
}

a,
a:link,
a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

p {
  font-size: 2rem;
}

select {
  font-size: 2rem;
  padding: 0.5rem;
}

span {
  font-size: 3rem;
}

ion-icon {
  font-size: 4rem;
}

/* removes arrow down icon from select element */
select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

/* navigation */
.navigation {
  padding: 2rem 10rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: #7c1d1d;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-contact {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5rem;
}
.nav-contact div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-contact div span {
  font-size: 2rem !important;
}
.nav-top select {
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #7c1d1d;
  border: none;
  font-size: 2.5rem;
  outline: none;
}

/*  */
.nav-mid {
  display: grid;
  grid-template-columns: 15rem 1fr 10rem;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-logo span {
  color: #fff;
}

.search-prompt {
  width: 100%;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.prompt-container {
  display: flex;
  position: relative;
}
.prompt-magnifier {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3.5rem;
  color: #000 !important;
}
.nav-mid ion-icon {
  color: #fff;
}
.nav-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/*  */
.nav-bottom {
  display: flex;
  justify-content: space-evenly;
}
.nav-bottom a {
  color: #fff;
}
