/*
COLORS:
background-colors: #7c1d1d #7e0202 #220000 #002242 #680723 #4c041f #fff4e6
font-colors: #fff #ffd8a8

FONT-SIZE:
span: 3rem
a: 2.2rem
ion-icon: 4rem


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "montserrat";
}

html {
  font-size: 62.5%;
  font-family: "roboto", serif;
}

body {
  /* overflow-x: hidden; */
  /* background-color: #dee2e6; */
  background: linear-gradient(to bottom right, #91171f, #ffd8a8, #91171f);
}

.disabled {
  display: none;
}

a,
a:link,
a:visited {
  font-size: 1.5rem;
  text-decoration: none;

  color: #000;
}

p {
  font-size: 1.5rem;
}

select {
  font-size: 1.5rem;
  padding: 0.5rem;
}

span {
  font-size: 2rem;
}

strong {
  font-size: 2rem;
}

ion-icon {
  font-size: 3rem;
}

/* HEADER */

nav {
  width: 100%;
  background-color: transparent;
  color: #fff !important;
  padding: 0rem 2rem;
}
.upper-nav {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
}
.logo {
  margin-top: 1rem;
}

.upper-nav form {
  position: relative;
  display: flex;
}
.upper-nav form input[type="submit"] {
  width: 6rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.browse-holder {
  position: relative;
  margin-top: 1rem;
}

.magnifier {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #ffd8a8;
}

.upper-nav form input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #91171f;
}
.upper-nav form input::placeholder {
  color: #91171f !important;
}

.log-in {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.log-in a {
  color: #fff !important;
  font-size: 1.5rem;
  font-weight: 500;

  cursor: pointer;
}
.log-in div {
  border-right: 1px solid white;
}
.nav-cart {
  margin-top: 1rem;
  justify-self: end;
  color: #fff !important;

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}
select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.bottom-nav {
  max-width: 130rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.bottom-nav a {
  padding: 0.5rem 0rem;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.2s;
  border-radius: 5px;
}
.bottom-nav a:hover {
  background-color: white;
  color: #91171f;
}

/* MAIN */
main {
  width: 100%;
}

/* carousel */
.section-one {
  width: 100%;
  max-width: 130rem;

  margin: 5rem auto;
  border: 10px solid white;
  border-radius: 2px;
}
.carousel-inner {
  width: inherit;
}
.carousel-inner img {
  width: 100% !important;
  aspect-ratio: 16/9 !important;
}
.carousel-cta {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  color: #fff;
}

.carousel-cta h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.carousel-cta a {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 500;
}
/* grid */
.grid-holder {
  max-width: 130rem;
  margin: 5rem auto;

  display: flex;
  flex-direction: column;

  border: 10px solid white;
}
.grid-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}
.grid-inner div p {
  padding: 2rem;
}
img {
  object-fit: cover;
  width: 100%;
}

/* best seller */
.best-seller--holder {
  max-width: 130rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.best-seller--holder div {
  height: 30rem;
  background-image: url("../public/images/perfumes/image-1.jpg");
  background-size: cover;
}

/* footer */

footer {
  width: 100%;
  background-color: transparent;
  height: 100px;
}
